/* app css stylesheet */
html{
  height:100%;
  width: 100%;
}

body{
  height:100%;
  width: 100%;
  background:url(./assets/background.jpg) ;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*{
  margin:0;
  padding:0;
}
.main {
  height: 80%;
  width: 60%;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  position:absolute;
  min-height: 160px;
}
.buttonSet {
  height:72% ;
  width: 100%;
  margin-left: 1.2px;
}

.button {
  text-align: center;
  font-size: 4vmin;
  background-color: lightgrey;
  height: 25%;
  width: 25%;

}

.button:active {
  background: #999999;

}
.button:focus{
  outline:none;
}

.buttonBackground {
  background-color: darkorange;
  font-weight: normal;
  color: white;
}
.buttonBackground:active{
  background: #EE7600;
}

.buttonBackground:focus{
  outline:none;
}

.inputText {
  width: 99.5%;
  height: 28%;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 6vmin;
}
