<div class="main">
    <input class="inputText" ng-model="resultText" disabled>
    </divclass>
    <div class="buttonSet">

        <button class="button" ng-click="numberInput('1')">1
        <button class="button" ng-click="numberInput('2')">2
        <button class="button" ng-click="numberInput('3')">3
        <button class="button buttonBackground" ng-click="operationSymbol('÷')">÷</button>

        <button class="button" ng-click="numberInput('4')">4
        <button class="button" ng-click="numberInput('5')">5
        <button class="button" ng-click="numberInput('6')">6
        <button class="button buttonBackground" ng-model="cheng" ng-click="operationSymbol('×')">×</button>


        <button class="button" ng-click="numberInput('7')">7
        <button class="button" ng-click="numberInput('8')">8
        <button class="button" ng-click="numberInput('9')">9
        <button class="button buttonBackground" ng-click="operationSymbol('-')">-</button>

        <button class="button" ng-click="init()">AC
        <button class="button" ng-click="numberInput('0')">0
        <button class="button buttonBackground" ng-click="calculation()">=
        <button class="button buttonBackground" ng-click="operationSymbol('+')">+</button>


    </div>

</div>
